@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
	@font-face {
		font-family: 'NotoSansMono';
		font-style: normal;
		font-weight: 300;
		font-display: swap;
		src: url(/fonts/webfonts/noto-sans-mono-latin-300-normal.woff2) format('woff2');
	}
}

@layer base {
	@font-face {
		font-family: 'NotoSansMono';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url(/fonts/webfonts/noto-sans-mono-latin-400-normal.woff2) format('woff2');
	}
}

@layer base {
	@font-face {
		font-family: 'NotoSansMono';
		font-style: normal;
		font-weight: 500;
		font-display: swap;
		src: url(/fonts/webfonts/noto-sans-mono-latin-500-normal.woff2) format('woff2');
	}
}
